USE [McKesson_GVL]
GO
/****** Object:  Table [dbo].[tbl_ACCESS_TYPE]    Script Date: 2/24/2017 7:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_ACCESS_TYPE](
	[ACCESS_ID] [int] IDENTITY(1,1) NOT NULL,
	[ACCESS_TYPE] [varchar](50) NULL,
	[PROJECT_ID] [int] NULL,
 CONSTRAINT [PK_tbl_ACCESS_TYPE] PRIMARY KEY CLUSTERED 
(
	[ACCESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_COLUMN_LIST]    Script Date: 2/24/2017 7:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_COLUMN_LIST](
	[COLUMN_ID] [int] IDENTITY(1,1) NOT NULL,
	[COLUMN_NAME] [varchar](50) NULL,
	[DISPLAY_NAME] [varchar](150) NULL,
	[PROJECT_ID] [int] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[UPDATED_DATE] [varchar](50) NULL,
	[PRACTICE_ID] [int] NULL,
 CONSTRAINT [PK_COLUMN_LIST] PRIMARY KEY CLUSTERED 
(
	[COLUMN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_IMPORT_TABLE]    Script Date: 2/24/2017 7:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_IMPORT_TABLE](
	[IMPORT_ID] [int] NOT NULL,
	[ACCOUNT_NO] [varchar](500) NOT NULL,
	[DOS] [datetime] NOT NULL,
	[DENIAL_WORKED_DT] [datetime] NOT NULL,
	[ERROR_CATEGORY] [varchar](50) NOT NULL,
	[SUB_CATEGORY] [varchar](50) NOT NULL,
	[CODER_LOGIN_ID] [varchar](50) NULL,
	[QC_LOGIN_ID] [varchar](50) NULL,
	[DENIAL_TYPE] [varchar](50) NULL,
	[COMMENTS] [varchar](100) NULL,
	[AUDITOR_NAME] [varchar](50) NULL,
	[EMP_ID] [int] NULL,
	[EMP_NAME] [varchar](50) NULL,
	[LOCATION_ID] [int] NOT NULL,
	[PROJECT_ID] [int] NOT NULL,
	[PRACTICE_ID] [int] NOT NULL,
 CONSTRAINT [PK_tbl_IMPORT_TABLE] PRIMARY KEY CLUSTERED 
(
	[IMPORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_LOCATION]    Script Date: 2/24/2017 7:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_LOCATION](
	[LOCATION_ID] [int] IDENTITY(1,1) NOT NULL,
	[PROJECT_ID] [int] NULL,
	[LOCATION] [varchar](100) NULL,
	[IS_DELETED] [varchar](10) NULL,
 CONSTRAINT [PK_tbl_LOCATION] PRIMARY KEY CLUSTERED 
(
	[LOCATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_MAIN_MENU]    Script Date: 2/24/2017 7:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_MAIN_MENU](
	[MENU_ID] [int] IDENTITY(1,1) NOT NULL,
	[MENU_NAME] [varchar](100) NULL,
	[PROJECT_ID] [int] NULL,
	[ACCESS_ID] [int] NULL,
	[MENU_ORDER_BY] [int] NULL,
 CONSTRAINT [PK_tbl_MAIN_MENU] PRIMARY KEY CLUSTERED 
(
	[MENU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_MAPPING_COLUMN_LIST]    Script Date: 2/24/2017 7:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_MAPPING_COLUMN_LIST](
	[MAPPING_ID] [int] IDENTITY(1,1) NOT NULL,
	[COLUMN_ID] [int] NULL,
	[PROJECT_ID] [int] NULL,
	[PRACTICE_ID] [int] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[UPDATED_DATE] [varchar](50) NULL,
 CONSTRAINT [PK_MAPPING_COLUMN_LIST] PRIMARY KEY CLUSTERED 
(
	[MAPPING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_PRACTICE_MASTER]    Script Date: 2/24/2017 7:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_PRACTICE_MASTER](
	[PRACTICE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PROJECT_ID] [int] NOT NULL,
	[PRACTICE] [varchar](50) NULL,
	[IS_DELETED] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_PRACTICE_MASTER] PRIMARY KEY CLUSTERED 
(
	[PRACTICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_PROJECT_MASTER]    Script Date: 2/24/2017 7:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_PROJECT_MASTER](
	[PROJECT_ID] [int] IDENTITY(1,1) NOT NULL,
	[PROJECT_NAME] [varchar](100) NULL,
	[IS_DELETED] [varchar](1) NULL,
 CONSTRAINT [PK_tbl_PROJECT_MASTER] PRIMARY KEY CLUSTERED 
(
	[PROJECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_SUB_MENU]    Script Date: 2/24/2017 7:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_SUB_MENU](
	[SUB_MENU_ID] [int] IDENTITY(1,1) NOT NULL,
	[MENU_ID] [int] NULL,
	[SUB_MENU_NAME] [varchar](100) NULL,
	[URL] [varchar](500) NULL,
	[PROJECT_ID] [int] NULL,
	[SUB_MENU_ORDER_BY] [int] NULL,
 CONSTRAINT [PK_tbl_SUB_MENU] PRIMARY KEY CLUSTERED 
(
	[SUB_MENU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_UNSUCCESS_IMPORT_TABLE]    Script Date: 2/24/2017 7:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_UNSUCCESS_IMPORT_TABLE](
	[UN_IMPORT_ID] [int] NOT NULL,
	[ACCOUNT_NO] [varchar](500) NOT NULL,
	[DOS] [datetime] NOT NULL,
	[DENIAL_WORKED_DT] [datetime] NOT NULL,
	[ERROR_CATEGORY] [varchar](50) NOT NULL,
	[SUB_CATEGORY] [varchar](50) NOT NULL,
	[CODER_LOGIN_ID] [varchar](50) NULL,
	[QC_LOGIN_ID] [varchar](50) NULL,
	[DENIAL_TYPE] [varchar](50) NULL,
	[COMMENTS] [varchar](100) NULL,
	[AUDITOR_NAME] [varchar](50) NULL,
	[EMP_ID] [int] NULL,
	[EMP_NAME] [varchar](50) NULL,
	[LOCATION_ID] [int] NOT NULL,
	[PROJECT_ID] [int] NOT NULL,
	[PRACTICE_ID] [int] NOT NULL,
 CONSTRAINT [PK_tblUNSUCCESS_IMPORT_TABLE] PRIMARY KEY CLUSTERED 
(
	[UN_IMPORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_USER_ACCESS]    Script Date: 2/24/2017 7:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_USER_ACCESS](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [int] NULL,
	[PROJECT_ID] [int] NULL,
	[USER_NAME] [varchar](50) NULL,
	[USER_NTLG] [varchar](50) NULL,
	[ACCESS_ID] [int] NULL,
	[TL_NTLG] [varchar](50) NULL,
	[TL_NAME] [varchar](500) NULL,
	[OM_NTLG] [varchar](50) NULL,
	[OM_NAME] [varchar](500) NULL,
	[SM_NTLG] [varchar](50) NULL,
	[SM_NAME] [varchar](500) NULL,
	[IS_DELETED] [varchar](1) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[LOCATION_ID] [int] NULL,
	[PRACTICE_ID] [int] NULL,
 CONSTRAINT [PK_tbl_USER_ACCESS] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[tbl_COLUMN_LIST]  WITH CHECK ADD  CONSTRAINT [FK_tbl_COLUMN_LIST_tbl_PRACTICE_MASTER] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[tbl_PRACTICE_MASTER] ([PRACTICE_ID])
GO
ALTER TABLE [dbo].[tbl_COLUMN_LIST] CHECK CONSTRAINT [FK_tbl_COLUMN_LIST_tbl_PRACTICE_MASTER]
GO
ALTER TABLE [dbo].[tbl_COLUMN_LIST]  WITH CHECK ADD  CONSTRAINT [FK_tbl_COLUMN_LIST_tbl_PROJECT_MASTER] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[tbl_PROJECT_MASTER] ([PROJECT_ID])
GO
ALTER TABLE [dbo].[tbl_COLUMN_LIST] CHECK CONSTRAINT [FK_tbl_COLUMN_LIST_tbl_PROJECT_MASTER]
GO
ALTER TABLE [dbo].[tbl_IMPORT_TABLE]  WITH CHECK ADD  CONSTRAINT [FK_tbl_IMPORT_TABLE_tbl_LOCATION] FOREIGN KEY([LOCATION_ID])
REFERENCES [dbo].[tbl_LOCATION] ([LOCATION_ID])
GO
ALTER TABLE [dbo].[tbl_IMPORT_TABLE] CHECK CONSTRAINT [FK_tbl_IMPORT_TABLE_tbl_LOCATION]
GO
ALTER TABLE [dbo].[tbl_IMPORT_TABLE]  WITH CHECK ADD  CONSTRAINT [FK_tbl_IMPORT_TABLE_tbl_PRACTICE_MASTER] FOREIGN KEY([PRACTICE_ID])
REFERENCES [dbo].[tbl_PRACTICE_MASTER] ([PRACTICE_ID])
GO
ALTER TABLE [dbo].[tbl_IMPORT_TABLE] CHECK CONSTRAINT [FK_tbl_IMPORT_TABLE_tbl_PRACTICE_MASTER]
GO
ALTER TABLE [dbo].[tbl_IMPORT_TABLE]  WITH CHECK ADD  CONSTRAINT [FK_tbl_IMPORT_TABLE_tbl_PROJECT_MASTER] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[tbl_PROJECT_MASTER] ([PROJECT_ID])
GO
ALTER TABLE [dbo].[tbl_IMPORT_TABLE] CHECK CONSTRAINT [FK_tbl_IMPORT_TABLE_tbl_PROJECT_MASTER]
GO
ALTER TABLE [dbo].[tbl_LOCATION]  WITH CHECK ADD  CONSTRAINT [FK_tbl_LOCATION_tbl_PROJECT_MASTER] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[tbl_PROJECT_MASTER] ([PROJECT_ID])
GO
ALTER TABLE [dbo].[tbl_LOCATION] CHECK CONSTRAINT [FK_tbl_LOCATION_tbl_PROJECT_MASTER]
GO
ALTER TABLE [dbo].[tbl_MAIN_MENU]  WITH CHECK ADD  CONSTRAINT [FK_tbl_MAIN_MENU_tbl_ACCESS_TYPE] FOREIGN KEY([ACCESS_ID])
REFERENCES [dbo].[tbl_ACCESS_TYPE] ([ACCESS_ID])
GO
ALTER TABLE [dbo].[tbl_MAIN_MENU] CHECK CONSTRAINT [FK_tbl_MAIN_MENU_tbl_ACCESS_TYPE]
GO
ALTER TABLE [dbo].[tbl_MAIN_MENU]  WITH CHECK ADD  CONSTRAINT [FK_tbl_MAIN_MENU_tbl_PROJECT_MASTER] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[tbl_PROJECT_MASTER] ([PROJECT_ID])
GO
ALTER TABLE [dbo].[tbl_MAIN_MENU] CHECK CONSTRAINT [FK_tbl_MAIN_MENU_tbl_PROJECT_MASTER]
GO
ALTER TABLE [dbo].[tbl_MAPPING_COLUMN_LIST]  WITH CHECK ADD  CONSTRAINT [FK_tbl_MAPPING_COLUMN_LIST_tbl_COLUMN_LIST] FOREIGN KEY([COLUMN_ID])
REFERENCES [dbo].[tbl_COLUMN_LIST] ([COLUMN_ID])
GO
ALTER TABLE [dbo].[tbl_MAPPING_COLUMN_LIST] CHECK CONSTRAINT [FK_tbl_MAPPING_COLUMN_LIST_tbl_COLUMN_LIST]
GO
ALTER TABLE [dbo].[tbl_MAPPING_COLUMN_LIST]  WITH CHECK ADD  CONSTRAINT [FK_tbl_MAPPING_COLUMN_LIST_tbl_PRACTICE_MASTER] FOREIGN KEY([PRACTICE_ID])
REFERENCES [dbo].[tbl_PRACTICE_MASTER] ([PRACTICE_ID])
GO
ALTER TABLE [dbo].[tbl_MAPPING_COLUMN_LIST] CHECK CONSTRAINT [FK_tbl_MAPPING_COLUMN_LIST_tbl_PRACTICE_MASTER]
GO
ALTER TABLE [dbo].[tbl_MAPPING_COLUMN_LIST]  WITH CHECK ADD  CONSTRAINT [FK_tbl_MAPPING_COLUMN_LIST_tbl_PROJECT_MASTER] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[tbl_PROJECT_MASTER] ([PROJECT_ID])
GO
ALTER TABLE [dbo].[tbl_MAPPING_COLUMN_LIST] CHECK CONSTRAINT [FK_tbl_MAPPING_COLUMN_LIST_tbl_PROJECT_MASTER]
GO
ALTER TABLE [dbo].[tbl_PRACTICE_MASTER]  WITH CHECK ADD  CONSTRAINT [FK_tbl_PRACTICE_MASTER_tbl_PROJECT_MASTER] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[tbl_PROJECT_MASTER] ([PROJECT_ID])
GO
ALTER TABLE [dbo].[tbl_PRACTICE_MASTER] CHECK CONSTRAINT [FK_tbl_PRACTICE_MASTER_tbl_PROJECT_MASTER]
GO
ALTER TABLE [dbo].[tbl_SUB_MENU]  WITH CHECK ADD  CONSTRAINT [FK_tbl_SUB_MENU_tbl_MAIN_MENU] FOREIGN KEY([MENU_ID])
REFERENCES [dbo].[tbl_MAIN_MENU] ([MENU_ID])
GO
ALTER TABLE [dbo].[tbl_SUB_MENU] CHECK CONSTRAINT [FK_tbl_SUB_MENU_tbl_MAIN_MENU]
GO
ALTER TABLE [dbo].[tbl_SUB_MENU]  WITH CHECK ADD  CONSTRAINT [FK_tbl_SUB_MENU_tbl_PROJECT_MASTER] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[tbl_PROJECT_MASTER] ([PROJECT_ID])
GO
ALTER TABLE [dbo].[tbl_SUB_MENU] CHECK CONSTRAINT [FK_tbl_SUB_MENU_tbl_PROJECT_MASTER]
GO
ALTER TABLE [dbo].[tbl_UNSUCCESS_IMPORT_TABLE]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UNSUCCESS_IMPORT_TABLE_tbl_LOCATION] FOREIGN KEY([LOCATION_ID])
REFERENCES [dbo].[tbl_LOCATION] ([LOCATION_ID])
GO
ALTER TABLE [dbo].[tbl_UNSUCCESS_IMPORT_TABLE] CHECK CONSTRAINT [FK_tbl_UNSUCCESS_IMPORT_TABLE_tbl_LOCATION]
GO
ALTER TABLE [dbo].[tbl_UNSUCCESS_IMPORT_TABLE]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UNSUCCESS_IMPORT_TABLE_tbl_PRACTICE_MASTER] FOREIGN KEY([PRACTICE_ID])
REFERENCES [dbo].[tbl_PRACTICE_MASTER] ([PRACTICE_ID])
GO
ALTER TABLE [dbo].[tbl_UNSUCCESS_IMPORT_TABLE] CHECK CONSTRAINT [FK_tbl_UNSUCCESS_IMPORT_TABLE_tbl_PRACTICE_MASTER]
GO
ALTER TABLE [dbo].[tbl_UNSUCCESS_IMPORT_TABLE]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UNSUCCESS_IMPORT_TABLE_tbl_PROJECT_MASTER] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[tbl_PROJECT_MASTER] ([PROJECT_ID])
GO
ALTER TABLE [dbo].[tbl_UNSUCCESS_IMPORT_TABLE] CHECK CONSTRAINT [FK_tbl_UNSUCCESS_IMPORT_TABLE_tbl_PROJECT_MASTER]
GO
ALTER TABLE [dbo].[tbl_USER_ACCESS]  WITH CHECK ADD  CONSTRAINT [FK_tbl_USER_ACCESS_tbl_ACCESS_TYPE] FOREIGN KEY([ACCESS_ID])
REFERENCES [dbo].[tbl_ACCESS_TYPE] ([ACCESS_ID])
GO
ALTER TABLE [dbo].[tbl_USER_ACCESS] CHECK CONSTRAINT [FK_tbl_USER_ACCESS_tbl_ACCESS_TYPE]
GO
ALTER TABLE [dbo].[tbl_USER_ACCESS]  WITH CHECK ADD  CONSTRAINT [FK_tbl_USER_ACCESS_tbl_LOCATION] FOREIGN KEY([LOCATION_ID])
REFERENCES [dbo].[tbl_LOCATION] ([LOCATION_ID])
GO
ALTER TABLE [dbo].[tbl_USER_ACCESS] CHECK CONSTRAINT [FK_tbl_USER_ACCESS_tbl_LOCATION]
GO
/****** Object:  StoredProcedure [dbo].[SP_Get_Column_List]    Script Date: 2/24/2017 7:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Get_Column_List]
	
	@PROJECTID int,
	@PRACTICEID int
AS
BEGIN	

Select COLUMN_NAME,DISPLAY_NAME,UPDATED_BY,UPDATED_DATE from tbl_COLUMN_LIST where PROJECT_ID=@PROJECTID and PRACTICE_ID=@PRACTICEID
	
	
END



GO
/****** Object:  StoredProcedure [dbo].[SP_Get_Mapping_List]    Script Date: 2/24/2017 7:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Get_Mapping_List]
	
	@PROJECTID int,
	@PRACTICEID int
AS
BEGIN	

Select COLUMN_NAME,DISPLAY_NAME,m.UPDATED_BY,m.UPDATED_DATE from tbl_MAPPING_COLUMN_LIST m inner join tbl_COLUMN_LIST c on 
m.COLUMN_ID=c.COLUMN_ID where m.PROJECT_ID=@PROJECTID and m.PRACTICE_ID=@PRACTICEID	
	
	
END



GO
/****** Object:  StoredProcedure [dbo].[SP_Get_Menu_Details]    Script Date: 2/24/2017 7:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Get_Menu_Details]
	@USERNTLG VARCHAR (100),
	@PROJECT VARCHAR (10)
AS
BEGIN	


	
	
	select MENU_NAME,SUB_MENU_NAME,URL from tbl_MAIN_MENU M inner join tbl_SUB_MENU S on M.MENU_ID = S.MENU_ID and m.ACCESS_ID in 
	(SELECT ACCESS_ID FROM tbl_ACCESS_TYPE WHERE ACCESS_ID IN (SELECT ACCESS_ID FROM tbl_USER_ACCESS WHERE USER_NTLG = @USERNTLG and PROJECT_ID=@PROJECT)) and M.PROJECT_ID=@PROJECT
	ORDER BY M.MENU_ORDER_BY,S.SUB_MENU_ORDER_BY
	
	
	
	
END

--exec [SP_Get_Menu_Details] 'padmalatv',17

GO
